<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
	  <rewrite>
		<rules>
			<rule name="HTTP/S to HTTPS Redirect" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{SERVER_PORT_SECURE}" pattern="^0$" />
					<add input="{HTTP_URL}" pattern=".well-known/acme-challenge" negate="true" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
			</rule>
			<rule name="Angular Routes" stopProcessing="true">
				<match url=".*" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					<add input="{HTTP_HOST}" pattern=".well-known/acme-challenge" negate="true" />
				</conditions>
				<action type="Rewrite" url="/" />
			</rule>
		</rules>
	  </rewrite>
	</system.webServer>
</configuration>