<div class="contract-page page">
  <!-- Page header -->
  <div class="contract-page__page-header page-header">
    <div class="page-header__header">
      <h1>{{locale?.title}}</h1>
    </div>
  </div>
  <!-- Page content -->
  <div class="contract-page__content contract-content page-details-content">

    <div class="contract-page-viewer border-light">
      <div class="contract-page-viewer__general-wrapper">

        <div class="contract-page-viewer__header-wrapper mb-20">
          <div class="contract-page-viewer__header">
            <h1 class="color-blue">{{locale?.surf}}</h1>
          </div>
          <div class="contract-page-viewer__total">
            <p class="contract-page-viewer__content-item">{{locale?.total}}</p>
            <div class="contract-page-viewer__total-value">
              <span>{{totalBalance | thousandspipe}}</span>
              <div class="icon icon-gem"></div>
            </div>
          </div>
        </div>
        <div class="contract-page-viewer__content-wrapper mb-40">
          <div class="contract-page-viewer__content-item"><p>{{locale?.codeHash}}</p></div>
          <div class="contract-page-viewer__content-subitem"><p>{{modelId}}</p></div>
        </div>
        <div class="contract-page-viewer__content-wrapper">
          <div class="contract-page-viewer__content-header mb-25">
            <span class="header-style">{{locale?.contracts}}</span>
          </div>
          <div class="contract-page-viewer__footer-wrapper">
            <div class="contract-page-viewer__content-wrapper small-w">
              <div class="contract-page-viewer__content-item"><p>{{locale?.deployed}}</p></div>
              <div class="contract-page-viewer__content-subitem"><span>{{deployedContracts | thousandspipe}}</span></div>
            </div>
            <div class="contract-page-viewer__content-wrapper small-w">
              <div class="contract-page-viewer__content-item"><p>{{locale?.active}}</p></div>
              <div class="contract-page-viewer__content-subitem"><span>{{activeContracts | thousandspipe}}</span></div>
            </div>
            <div class="contract-page-viewer__content-wrapper small-w">
              <div class="contract-page-viewer__content-item"><p>{{locale?.new}}</p></div>
              <div class="contract-page-viewer__content-subitem"><span>{{newContracts | thousandspipe}}</span></div>
            </div>
          </div>
        </div>


      </div>
      <div class="contract-page-viewer__filters-wrapper">
        <app-filter #filter class="page-list-content__component"
          [minMaxPlaceholder]="locale?.tons"
          [datePlaceholder]="locale?.date"
          [isFilterOpen]="isGeneralInfoOpen"
          [settings]="filterSettings"
          [skeletonArray]="skeletonArrayForFilter"
          [skeletalAnimation]="filterLoading"
          [params]="params"
          [isFilterOpen]="isFilterOpen"
          [isFilterHideBtnVisible]="isFilterHideBtnVisible"
          [isFilterFooterVisible]="isFilterFooterVisible">
        </app-filter>
      </div>
    </div>

    <div class="contract-page__page-header page-header">
      <div class="page-header__header">
        <h1>{{locale?.accounts}}</h1>
      </div>
    </div>

  </div>

  <div class="blocks-page__content blocks-content page-list-content hide-filters">
    <div class="page-list-content__tabs">
      <div class="page-list-content__component-wrapper">
        <app-table-viewer #tableViewer
          [data]="tableViewerData"
          [isFooterVisible]="isFooterVisible"
          [footerPlaceholder]="locale?.loadMore"
          [skeletalAnimation]="tableViewersLoading"
          (exportEvent)="onExport()"
          (moreEvent)="onLoadMore($event)">
        </app-table-viewer>
      </div>
    </div>
  </div>
</div>