<div class="account-page page">
  <!-- Page header -->
  <div class="account-page__page-header page-header">
    <div class="page-header__header">
      <h1>Account details</h1>
    </div>
  </div>
  <!-- Page content -->
  <div class="account-page__content account-content page-details-content">

    <!-- General block -->
    <div class="page-details-content__component-wrapper">
      <div class="app-viewer border-light" [class.app-viewer--opened]="isGeneralInfoOpen">
        <!-- Header -->
        <div class="app-viewer__header-wrapper">
          <div class="app-viewer__header">
            <span>General</span>
          </div>
          <div class="app-viewer__btn" (click)="onShowOrHideGeneralInfo()">
            <span class="color-blue link">
              {{generalInfoBtnPlaceholder}}
            </span>
          </div>
        </div>
        <!-- Skeleton -->
        <div *ngIf="viewersLoading" class="app-viewer__body-wrapper">
          <div class="app-viewer__content-wrapper">
            <div class="general-info">
              <div class="app-viewer__body-item app-viewer__body-item--skeleton no-link">
                <div class="app-viewer__body-item-header skeleton skeleton--small-text w-50"></div>
                <div class="app-viewer__body-item-subheader skeleton skeleton--normal-text w-75"></div>
              </div>
              <div class="additional-wrapper">
                <div class="app-viewer__body-item app-viewer__body-item--skeleton no-link">
                  <div class="app-viewer__body-item-header skeleton skeleton--small-text w-50"></div>
                  <div class="app-viewer__body-item-subheader skeleton skeleton--normal-text w-75"></div>
                </div>
                <div class="app-viewer__body-item app-viewer__body-item--skeleton no-link">
                  <div class="app-viewer__body-item-header skeleton skeleton--small-text w-25"></div>
                  <div class="app-viewer__body-item-subheader skeleton skeleton--normal-text w-50"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Data -->
        <div *ngIf="!viewersLoading" @smoothDisplayAnimation class="app-viewer__body-wrapper">
          <div class="app-viewer__content-wrapper">
            <div class="general-info">
              <div class="app-viewer__body-item no-link">
                <div class="app-viewer__body-item-header"><p>Address</p></div>
                <div class="app-viewer__body-item-subheader"><span>{{model?.id}}</span></div>
              </div>
              <div class="additional-wrapper">
                <div class="app-viewer__body-item no-link">
                  <div class="app-viewer__body-item-header"><p>Status</p></div>
                  <div class="app-viewer__body-item-subheader color-green" [class.color-red]="!model?.acc_type"><span>{{model?.acc_type ? 'Active' : 'Frozen'}}</span></div>
                </div>
                <div class="app-viewer__body-item no-link">
                  <div class="app-viewer__body-item-header"><p>Balance</p></div>
                  <div class="app-viewer__body-item-subheader" style="display:flex;flex-direction:row;align-items: center;"><span>{{model?.balance | thousandspipe}}</span><div class="icon icon-gem" style="margin-left:5px;"></div></div>
                </div>
              </div>
            </div>
            <img class="qr-code" src="https://chart.googleapis.com/chart?chs=164x164&chld=L|2&cht=qr&chl={{model?.code}}">
          </div>
        </div>
      
      </div>
    </div>

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #aditionalGeneralViewer class="page-details-content__component"
        [isGeneralInfoOpen]="isAditionalInfoOpen"
        [header]="'More details'"
        [data]="aditionalViewerData"
        [skeletonArray]="skeletonArrayForGeneralViewer"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

  </div>

  <div class="page-content__tabs-buttons">
    <div class="tabs-buttons__wrapper">
      <div class="tabs-buttons__header" [class.tabs-buttons__header--active]="selectedTabIndex === 0" (click)="onChangeTab(0)">
        <h2 class="color-gray" [class.color-blue]="selectedTabIndex === 0">Transactions {{transactions?.length ? '(' + transactions.length + ')' : ''}}</h2>
      </div>
      <div class="tabs-buttons__header" [class.tabs-buttons__header--active]="selectedTabIndex === 1" (click)="onChangeTab(1)">
        <h2 class="color-gray" [class.color-blue]="selectedTabIndex === 1">Messages {{messages?.length ? '(' + messages.length + ')' : ''}}</h2>
      </div>
    </div>

    <mat-slide-toggle>Autoupdate</mat-slide-toggle>
  </div>

  <div class="blocks-page__content blocks-content page-list-content">
    <div class="page-list-content__filters">

      <!-- Sticky block for desctop -->
      <div class="page-list-content__filters-sticky-position">
        <div class="page-list-content__component-wrapper">
          <app-filter #filter class="page-list-content__component"
            [minMaxPlaceholder]="'With any tons number'"
            [datePlaceholder]="'All time'"
            [isFilterOpen]="isGeneralInfoOpen"
            [settings]="filterSettings"
            [skeletonArray]="skeletonArrayForFilter"
            [skeletalAnimation]="filterLoading"
            [params]="params">
          </app-filter>
        </div>
      </div>

    </div>

    <div class="page-list-content__tabs">
      <div class="page-list-content__component-wrapper">
        <app-table-viewer #tableViewer
          [data]="tableViewerData"
          footerPlaceholder="Load 25 more"
          [skeletalAnimation]="tableViewersLoading"
          (exportEvent)="onExport()"
          (moreEvent)="onLoadMore($event)">
        </app-table-viewer>
      </div>
    </div>
  </div>
</div>