<div class="blocks-page page">
  <!-- Page header -->
  <div class="blocks-page__page-header page-header">
    <div class="page-header__header">
      <h1>{{locale?.title}}</h1>
    </div>
    <div class="page-header__slide-toggle">
      <mat-slide-toggle
        [checked]="autoupdate"
        (change)="updateChange($event.checked)">{{locale?.autoupdate}}
      </mat-slide-toggle>
    </div>
  </div>
  <!-- Page content -->
  <div class="blocks-page__content blocks-content page-list-content">
    <div class="page-list-content__filters">

      <!-- Sticky block for desctop -->
      <div class="page-list-content__filters-sticky-position">
        <div class="page-list-content__component-wrapper">
          <app-general-viewer #generalViewer class="page-list-content__component"
            [isGeneralInfoOpen]="isGeneralInfoOpen"
            [data]="generalViewerData"
            [skeletonArray]="skeletonArrayForGeneralViewer"
            [skeletalAnimation]="viewersLoading">
          </app-general-viewer>
        </div>
        <div class="page-list-content__component-wrapper">
          <app-filter #filter class="page-list-content__component"
            [minMaxPlaceholder]="locale?.tons"
            [datePlaceholder]="locale?.date"
            [isFilterOpen]="isGeneralInfoOpen"
            [settings]="filterSettings"
            [skeletonArray]="skeletonArrayForFilter"
            [skeletalAnimation]="filterLoading"
            [params]="params">
          </app-filter>
        </div>
      </div>

    </div>

    <div class="page-list-content__tabs">
      <div class="page-list-content__component-wrapper">
        <app-table-viewer #tableViewer
          [data]="tableViewerData"
          [footerPlaceholder]="locale?.loadMore"
          [skeletalAnimation]="tableViewersLoading"
          (exportEvent)="onExport()"
          (moreEvent)="onLoadMore($event)">
        </app-table-viewer>
      </div>
    </div>
  </div>
</div>