<div class="app-search-panel" #searchPanel>

  <!-- Элементы -->
  <!-- tabindex="0" для фокусировки -->
  <div tabindex="0" class="app-search-panel__options" @searchPanelAnimation id="optionsPanelId" #optionsPanel>

    <!-- Пустой список -->
    <div *ngIf="notFound" class="app-search-panel__not-found">
      <span class="color-gray">{{ notFoundTitle }}</span>
    </div>

    <!-- Списки -->
    <div *ngIf="!notFound" calss="app-search-panel__options-wrapper">

      <div *ngIf="blocks?.length" class="app-search-panel__option">
        <div class="app-search-panel__option-header">
          <span class="strong">{{locale?.blocksTitle}}</span> <span class="color-gray">{{locale?.searchMessage}}</span> <span class="color-gray">{{locale?.searchTransaction}}</span>
        </div>
        <div *ngFor="let option of blocks;" class="app-search-panel__option-body" (click)="onSelectOption('blocks', option)">
          <span class="color-blue link">{{option?.id}}</span>
        </div>
      </div>

      <div *ngIf="transactions?.length" class="app-search-panel__option">
        <div class="app-search-panel__option-header">
          <span class="strong">{{locale?.transactionsTitle}}</span> <span class="color-gray">{{locale?.searchMessage}}</span>
        </div>
        <div *ngFor="let option of transactions;" class="app-search-panel__option-body" (click)="onSelectOption('transactions', option)">
          <span class="color-blue link">{{option?.id}}</span>
        </div>
      </div>

      <div *ngIf="messages?.length" class="app-search-panel__option">
        <div class="app-search-panel__option-header">
          <span class="strong">{{locale?.messagesTitle}}</span> <span class="color-gray">{{locale?.searchTransaction}}</span>
        </div>
        <div *ngFor="let option of messages;" class="app-search-panel__option-body" (click)="onSelectOption('messages', option)">
          <span class="color-blue link">{{option?.id}}</span>
        </div>
      </div>

      <div *ngIf="accounts?.length" class="app-search-panel__option">
        <div class="app-search-panel__option-header">
          <span class="strong">{{locale?.accountsTitle}}</span> <span class="color-gray">{{locale?.searchTransaction}}</span> <span class="color-gray">{{locale?.searchMessage}}</span>
        </div>
        <div *ngFor="let option of accounts;" class="app-search-panel__option-body" (click)="onSelectOption('accounts', option)">
          <span class="color-blue link">{{option?.id}}</span>
        </div>
      </div>

      <div *ngIf="validators?.length" class="app-search-panel__option">
        <div class="app-search-panel__option-header">
          <span class="strong">{{locale?.validatorsTitle}}</span> <span class="color-gray">{{locale?.searchBlock}}</span>
        </div>
        <div *ngFor="let option of validators;" class="app-search-panel__option-body" (click)="onSelectOption('validators', option)">
          <span class="color-blue link">{{option?.id}}</span>
        </div>
      </div>

    </div>

  </div>

</div>
