$explorer--base__white: #FFFFFF;
$explorer--base__black: #333333;
$explorer--base__blue: #45BAEB;
$explorer--base__blue-light: #F1F6F8;
$explorer--base__gray: #999999;
$explorer--base__gray-light: #DDDDDD;
$explorer--base__green-dark: #297181;
$explorer--base__green: #219653;
$explorer--base__skeleton-gray: #F6F7F9;
$explorer--base__skeleton-gray-gradient: #E9EBEE;
$explorer--base__search-border: #C7E0EA;
$explorer--base__red: #F17070;

$explorer--base__input-disabled: #E4E4E4;
