$explorer--base__white: #FFFFFF;
$explorer--base__black: #333333;
$explorer--base__blue: #45BAEB;
$explorer--base__blue-light: #F1F6F8;
$explorer--base__gray: #999999;
$explorer--base__gray-light: #DDDDDD;
