// Margins and paddings
$explorer--base__mp_micro: 8px;
$explorer--base__mp_micro_custom: 10px;
$explorer--base__mp_mini: 12px;
$explorer--base__mp_mini_custom: 14px;
$explorer--base__mp_normal: 16px;
$explorer--base__mp_basic: 20px;
$explorer--base__mp_big: 24px;
$explorer--base__mp_biggest: 40px;

// Basic sizing
$explorer--base__vertical_size_basic: 20px;
$explorer--base__vertical_size_big: 40px;

$explorer--base__wrapper_horizontal_size: 720px;

// View change points
$explorer--base__viewer_change_point_basic: 768px;

// Borders
$explorer--base__border-radius: 4px;


