<div class="transaction-page page">
  <!-- Page header -->
  <div class="transaction-page__page-header page-header">
    <div class="page-header__header">
      <h1>Transaction details</h1>
    </div>
  </div>
  <!-- Page content -->
  <div class="transaction-page__content transaction-content page-details-content">

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #generalViewer class="page-details-content__component"
        [data]="generalViewerData"
        [skeletonArray]="skeletonArray"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #aditionalGeneralViewer class="page-details-content__component"
        [isGeneralInfoOpen]="isAditionalInfoOpen"
        [header]="'More details'"
        [data]="aditionalViewerData"
        [skeletonArray]="skeletonArray"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #storageGeneralViewer class="page-details-content__component"
        [isGeneralInfoOpen]="isAditionalInfoOpen"
        [header]="'Storage'"
        [data]="storageViewerData"
        [skeletonArray]="skeletonArray"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #computeGeneralViewer class="page-details-content__component"
        [isGeneralInfoOpen]="isAditionalInfoOpen"
        [header]="'Storage'"
        [data]="computeViewerData"
        [skeletonArray]="skeletonArray"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #actionGeneralViewer class="page-details-content__component"
        [isGeneralInfoOpen]="isAditionalInfoOpen"
        [header]="'Action'"
        [data]="actionViewerData"
        [skeletonArray]="skeletonArray"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #finalStateGeneralViewer class="page-details-content__component"
        [isGeneralInfoOpen]="isAditionalInfoOpen"
        [header]="'Final State'"
        [data]="finalStateViewerData"
        [skeletonArray]="skeletonArray"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

  </div>
</div>