<div class="transaction-page page">
  <!-- Page header -->
  <div class="transaction-page__page-header page-header">
    <div class="page-header__header">
      <h1>{{locale?.title}}</h1>
    </div>
  </div>
  <!-- Page content -->
  <div class="transaction-page__content transaction-content page-details-content">

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #generalViewer class="page-details-content__component"
        [isGeneralInfoOpen]="isGeneralInfoOpen"
        [data]="generalViewerData"
        [skeletonArray]="skeletonArrayForGeneralViewer"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

    <div class="page-details-content__component-wrapper">
      <app-general-viewer #aditionalGeneralViewer class="page-details-content__component"
        [isGeneralInfoOpen]="isAditionalInfoOpen"
        [header]="locale?.moreDetails"
        [data]="aditionalViewerData"
        [skeletonArray]="skeletonArrayForGeneralViewer"
        [skeletalAnimation]="viewersLoading">
      </app-general-viewer>
    </div>

  </div>
</div>