@import './abstracts/animation.scss';
@import './abstracts/colors.scss';
@import './icon.scss';


.mat-dialog-container {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $explorer--base__search-border !important;
  box-shadow: none !important;
  padding: 0 !important;
}

app-export {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.app-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  &__header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid $explorer--base__search-border;
    color: $explorer--base__green-dark !important;
  }

  &__title {
    background: url($ico-export);
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 0 0 0 20px;
  }

  &__progress-bar {
    width: 100%;
    min-height: 2px;
    height: 2px;
    max-height: 2px;
  }

  &__body {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 41px;
    transition: all .3s ease;
    .mat-form-field {
      width: 100%;
    }
  }

  &__body-info {
    height: 40.47px;
    display: flex;
    align-items: flex-start;
  }

  &__element {
    transition: all .3s ease;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 20px 20px;
    button {
      margin-left: 20px;
    }
  }
}


.progress-bar {
  border-radius: 1px;
  background-color: transparent;
  transition: all .2s ease;
  position: relative;
  background-color: transparent;
  overflow: hidden;

  // &.error {
  //   background-color: #FF617D;
  // }

  &.progress {
    background-color: $explorer--base__green-dark;

    -webkit-animation-name: smallProgressBar;
    -moz-animation-name: smallProgressBar;
    animation-name: smallProgressBar;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;

    -webkit-animation-iteration-count: infinite;
    -moz-transition-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    background-image: linear-gradient(to right, $explorer--base__green-dark 0%, $explorer--base__white 65%, $explorer--base__green-dark 0%, $explorer--base__green-dark 75%, $explorer--base__green-dark 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  // &.warn {
  //   background-color: #FFD26A;
  // }

  // &.success {
  //   background-color: #61A8FF;
  // }
}