$ico-calendar: 'src/assets/icons/calendar.svg';
$ico-chain: 'src/assets/icons/chain.svg';
$ico-shard: 'src/assets/icons/shard.svg';
$ico-transactions: 'src/assets/icons/transactions.svg';
$ico-transactions-filter: 'src/assets/icons/transactions-filter.svg';
$ico-gem: 'src/assets/icons/gem.svg';
$ico-direction: 'src/assets/icons/direction.svg';

$ico-search: 'src/assets/icons/search.svg';
$ico-search-filter: 'src/assets/icons/search-filter.svg';

$ico-search-clear: 'src/assets/icons/clear.svg';
$ico-search-clear-filter: 'src/assets/icons/clear-filter.svg';
$ico-search-clear-default: 'src/assets/icons/clear-default.svg';

$ico-load: 'src/assets/icons/load.svg';

$ico-abort: 'src/assets/icons/eject.svg';
$ico-ext: 'src/assets/icons/globe.svg';
$ico-gem-filter: 'src/assets/icons/gem-filter.svg';

$ico-calendar-wh: 'src/assets/icons/calendar-wh.svg';
$ico-chain-wh: 'src/assets/icons/chain-wh.svg';
$ico-shard-wh: 'src/assets/icons/shard-wh.svg';
$ico-abort-wh: 'src/assets/icons/eject-wh.svg';
$ico-ext-wh: 'src/assets/icons/globe-wh.svg';
$ico-gem-filter-wh: 'src/assets/icons/gem-filter-wh.svg';
$ico-transactions-filter-wh: 'src/assets/icons/transactions-filter-wh.svg';
$ico-direction-wh: 'src/assets/icons/direction-wh.svg';

$ico-download: 'src/assets/icons/download.svg';

$ico-export: 'src/assets/icons/download-dialog.svg';

$ico-arrow: 'src/assets/icons/right-arrow.svg';

$ico-arrow-green: 'src/assets/icons/right-arrow-g.svg';

$ico-arrow-red: 'src/assets/icons/right-arrow-r.svg';