@import './abstracts/colors.scss';

::-webkit-scrollbar-track {
  opacity: 0;
}
  
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: $explorer--base__blue-light;
}
  
::-webkit-scrollbar-thumb {
  background-color: $explorer--base__blue;
  border-radius: 5px;
}